
html, body{
    margin: 0%;
    background-color: white;
}

/*h = header */
/*i = index */
/*-*/
/*g = general */
/*l = logo */
/*l1m = logo image 1 */

*,*:after,*:before 
{
	box-sizing: border-box;
}

:root {
	--header-outer-height: 120px;
	--header-inner-height: 70px;
	--header-height-difference: calc(
		var(--header-outer-height) - var(--header-inner-height)
	);
	--header-bg: #e5e7ee;
--body-bg: #ff7d63;
}

.hi-g2
{
    width: 90%;
    max-width: 1280px;
    margin-left: 20px;
    margin-right: 20px;
}

.hi-g
{
    height: var(--header-inner-height);
    position: sticky;
    top: sticky;
    top: calc(var(--header-height-difference)*-1);
    display: flex;
    align-items: center;
    background-color: var(--header-bg);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.hi-g1
{
    height: var(--header-inner-height);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hi-l
{
    display: block;
    height: calc(var(--header-inner-height)-30px);
}

.hi-n
{
    display: flex;
    flex-wrap: wrap;
}

.hi-n a, .hi-n button
{
    font-size: 1.125rem;
    color: inherit;
    margin-left: 1.75rem;
    position: relative;
    font-weight: 500;
}

.hi-n a
{
	display: none;
	font-size: 1.125rem;
	color: inherit;
	text-decoration: none;
} 

.hi-n button
{
    border: 0;
	background-color: transparent;
	padding: 0;
}

.hi-n a:hover:after, .hi-n button:hover:after
{
    transform: scaleX(1);
}

.hi-n a:after, .hi-n button:after
{
    transition: 0.25s ease;
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: currentcolor;
	transform: scalex(0);
	position: absolute;
	bottom: -2px;
	left: 0;
}

.hi-img
{
    width: 70px;
    height: 70px;
}

.hi-l :hover
{
    transform: scale(1.1);
    animation: 0.4s ease forwards; 
}

.hi-h1
{
    font-family: 'Arial', sans-serif;
    color: #434343;
    flex: auto;
    font-size: 40px;
}

@media (min-width: 800px)
{
    .hi-n a 
    {
        display: inline-block;
    }

    .hi-n button 
    {
        display: none;
    }
}
/*b = body */
/*1.. = capa 1... */
/*1/2 = imagen o login/registro 1/2 */
/*capas*/
/*Seccion de inicio de sesion, registro*/
.b1-1


{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    padding-top: 9%;
    max-width: 500px;
    margin: 40px auto;
    border-radius: 10px;
    background-color: white;
    gap: 50px;
}

.b1-1a
{
    align-items: end;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 20px;
    padding: 120px;
}

.b1-2a
{
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b1-2a h1
{
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 60px;
}

.b1-2ac
{
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-top: 20px;
    max-width: 330px;
    width: 100%;
}

.b1-2ac1
{

}

.b1-b1ac
{
    background-color: #FF7D63;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: flex-end;
    color: white;
    text-decoration: none;
    border: 2px solid #FF7D63;
}

.b1-b1ac:hover
{
    background-color: transparent;
    color: #FF7D63;
    border: 2px solid #FF7D63;
    transition: all 0.3s ease-in-out;
}

/*Paginas x*/
.b1a-1
{
    font-family: 'Arial', sans-serif;
    color: #434343;
}

/*carrusel*/
.b2a-1
{
    margin: 100px auto;
    width: 100%;
    border: 5px solid #e5e7ee;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}

.b2a-1::-webkit-scrollbar
{
    display: none;
}

.b1a-car
{
    display: flex;
    width: max-content;
}

.b1a-car1g
{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;  
    animation: spin 45s infinite linear;
}

.b1a-car-el
{
    flex: 0 0 5em;
    height: 100px;
    padding: 250px;
    background: #FF7D63;
    font-size: 30px;
    text-align: center;
    align-content: center;
    font-family: 'Arial', sans-serif;
    display: block;
    box-sizing: border-box;
}

@keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}
}

/*Footer*/
.f1-g
{
    background-color: #992931;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.f1-1
{
    display: flex;
    flex-direction: row;
    height: 50px;
}

.f1-l1m
{
    width: 50px;
    height: 50px;
}

.f1-1
{
    background-color: #992931;
}

.f1-l1m img 
{
    width: 100%;
    height: 100%;
    animation: bajar 0.4s ease forwards; 
}

.fi-1h
{
    animation: izquierda 0.4s ease forwards;
}

.f1-g:hover .f1-l1m img
{
    width: 100%;
    height: 100%;
    animation: subir 0.4s ease forwards; 
}

.f1-g:hover .fi-1h
{ 
    animation: derecha 0.4s ease forwards;
}

@keyframes subir {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bajar {
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to{
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes derecha {
    from{
        transform: translateX(-40px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes izquierda {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-40px);
    }
}

.f1-n li
{
    list-style-type: none;
    width: 110px;
    background-color: #ffffff;
    gap: 9px;
    margin: 9px;
    border-radius: 90px;
    padding: 4px;
    transition: transform 0.3s ease;
    color: #464646;
    text-align: center;
}

.f1-n img
{
    width: 20px;
}

.f1-n li:hover
{
    transform: scale(1.2);
}


/*Inicio y registro de cuenta */

.b1-inreg
{
    align-items: center;
    display: flex;
    justify-content: center;
}

.b1-inreb
{
    align-self: stretch;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15.07%;
    position: relative;
}

.b1-inrex
{
    cursor: pointer;
    position: absolute;
    right: auto;
    top: 30px;
    z-index: 10;
    left: 30px;
}

.b1-inrex img
{
    width: 20px;
}

.b1-inreotop
{
    position: absolute;
    right: 30px;
    top: 30px;
}

.b1-binreotop
{
    background-color: rgba(0, 0, 0, 0);
    color: #992931;
    font-size: 19px;
    font-family: Arial, sans-serif;
    border: 5px solid rgba(0, 0, 0, 0) ;
}

.b1-binreotop:hover
{
    transform: scale(1.02);
}
/*formularios*/
.formulario
{
    background-color: #e5e7ee;
}
.b2-fg
{
    margin-top: 0;
    width: 375px;
    font-family: Arial, sans-serif;
}

.b2-fh1
{
    font-size: 26px;
    margin: 10px 0 15px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 40px;
}

.b2-fhdl
{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    position: relative;
    text-align: start;
    width: 100%;
}

.b2-fhli
{
    
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
}

.b2-fhi
{
    background-color: #434343;
    border-radius: 12px;
    display: flex;
    overflow: hidden;
    margin: 9px;
}


.b2-fhi input
{
    appearance: none;
    background: none;
    border: none;
    padding: 20px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    font-size: 15px;
}

.b2-fhi a
{
    padding: 9px;
    color: #e5e7ee;
    text-decoration: none;
}

.b2-fb
{
    background-color: #992931;
    padding: 0 16px;
    margin-top: 20px;
    border-style: solid;
    border-color: transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    color: #deb3b5;
    height: 50px;
    width: 373px;
    box-shadow: 0 5px 0 #6e1d22;
}

.b2-fb:hover
{
    background-color: #b63a42;
    color: #e5e7ee;
    box-shadow: 0 5px 0 #992931;
}

.b2-fbb
{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.b2-fbu
{
    background-color: #FF7D63;
    padding: 0 16px;
    margin-top: 20px;
    border-style: solid;
    border-color: transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    color: #83311f;
    height: 50px;
    width: 180px;
    box-shadow: 0 5px 0 #cb5a43;
    margin: 9px;
    position: relative
}

.b2-fbu:hover
{
    background-color: #cb5a43;
    color: #e5e7ee;
    box-shadow: 0 5px 0 #9e402e;
}
